[Unit]
Description=Model railway controller
After=network.target switch-board.service

[Service]
Type=simple
WorkingDirectory=/root/dcc-decoder/
ExecStart=/root/dcc-decoder/main.py
Restart=always

[Install]
WantedBy=multi-user.target
