<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/static/favicon_iphone.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-title" content="DCC">
    <meta name="description" content="DCC Controller">
    <title>DCC Controller</title>
   
    <script defer src="/static/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
    <script src="/static/NoSleep.min.js"></script>
    <link rel="stylesheet" href="/static/pure/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/static/pure-layout/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/pure-layout/side-menu.css">
        <!--<![endif]-->
</head>
<body>

<style scoped>

    .button-success,
    .button-error,
    .button-warning,
    .button-stop,
    .button-fn,
    .button-direction-on,
    .button-direction-off,
    .button-on,
    .button-off,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	display: block;
	margin: auto;
    }

    .button-green {
        background: rgb(28, 184, 65); /* this is a green */
	width: 95%;
    }

    .button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }

    .button-stop {
        background: rgb(202, 60, 60); /* this is a maroon */
	width: 70%;
    }

    .button-orange {
        background: rgb(223, 117, 20); /* this is an orange */
	width: 95%;
    }

    .button-secondary {
        background: rgb(66, 184, 221); /* this is a light blue */
    }

    .button-fn {
        background: rgb(66, 184, 221); /* this is a light blue */
	width: 95%;
    }

    .button-on {
        background: rgb(6, 144, 190); /* this is a light blue */
	width: 95%;
    }

    .button-off {
        background: rgb(103, 200, 232); /* this is a light blue */
	width: 95%;
    }

    .button-direction-on {
        background: rgb(0, 121, 27); /* this is a dark green */
	width: 70%;
    }

    .button-direction-off {
        background: rgb(96, 212, 122); /* this is a light green */
	width: 70%;
    }

    .dial {
	margin: auto;
	width: 100%
    }

    .pure-img-narrow {
	max-width: 90%;
	height: auto;
	display: block
    }

</style>




<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Railway</a>

            <ul class="pure-menu-list">
		{% for name, id in loco_list %}
			{% if (id == loco_id) %}
				<li class="pure-menu-item pure-menu-selected"><a href="/?loco={{ id }}" class="pure-menu-link">{{ name }}</a></li>
			{% else %}
				<li class="pure-menu-item"><a href="/?loco={{ id }}" class="pure-menu-link">{{ name }}</a></li>
			{% endif %}
		{% endfor %}
		<!--
		<li class="pure-menu-item menu-item-divided"><div class="pure-menu-link">Turnouts</div></li>
		-->
		<!--
		(p.get_name(), p.get_left_url(), p.get_left_img(), p.get_right_url(), p.get_right_img())
		-->
		{% for name, left_url, left_img, right_url, right_img in plist %}
			<li class="pure-menu-item menu-item-divided">
				<div class="pure-g">
					<div class="pure-u-1-2"><img class="pure-img-narrow" src="/static/points_img/{{ left_img }}" onclick="(function() { jQuery.post('{{ left_url }}') })();"/></div>
					<div class="pure-u-1-2"><img class="pure-img-narrow" src="/static/points_img/{{ right_img }}" onclick="(function() { jQuery.post('{{ right_url }}') })();"/></div>
				</div>
			</li>
		{% endfor %}
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="content">
	    <div class="pure-g">
		<div class="pure-u-1"><p><button class="pure-button button-stop" id="emergency" onclick="(function() { jQuery.post('/emergency', function(data) { updateButtons(data); }); })();"><i class="far fa-hand-paper"></i></button></p></div>
		<div class="pure-u-1-2"><p>{{ loco_name }}<br/>{{ loco_serial }}<br/>DCC ID: {{ loco_id }}</p></div>
		<div class="pure-u-1-2"><p><img class="pure-img" src="/static/loco_img/{{ loco_img }}"/></p></div>
		{% for action, label, fontawesome in function_list %}
		    {% if fontawesome %}
		    <div class="pure-u-1-5"><p><button class="pure-button button-off" id="function-{{ action }}" onclick="(function() { jQuery.post('/q?loco={{ loco_id }}&action={{ action }}', function(data) { updateButtons(data); }); })();"><i class="{{ label }}"></i></button></p></div>
		    {% else %}
		    <div class="pure-u-1-5"><p><button class="pure-button button-off" id="function-{{ action }}" onclick="(function() { jQuery.post('/q?loco={{ loco_id }}&action={{ action }}', function(data) { updateButtons(data); }); })();">{{ label }}</button></p></div>
	            {% endif %}
		{% endfor %}
		{% if loco_id != 0 %}
		<div class="pure-u-1"><input type="text" class="dial" value="0" id="throttleDial"></div>
		<div class="pure-u-1-3"><p><button class="pure-button button-direction-off" id="backward" onclick="(function() { jQuery.post('/direction?loco={{ loco_id }}&value=0', function(data) { updateButtons(data); }); })();"><i class="fas fa-chevron-left"></i></button></p></div>
		<div class="pure-u-1-3"><p><button class="pure-button button-stop" id="stop" onclick="(function() { jQuery.post('/slider?loco={{ loco_id }}&value=0', function(data) { updateButtons(data); }); document.getElementById('throttleDial').value = 0; $('input.dial').trigger('change'); })();"><i class="far fa-hand-paper"></i></button></p></div>
		<div class="pure-u-1-3"><p><button class="pure-button button-direction-off" id="forward" onclick="(function() { jQuery.post('/direction?loco={{ loco_id }}&value=1', function(data) { updateButtons(data); }); })();"><i class="fas fa-chevron-right"></i></button></p></div>
		<div class="pure-u-1-4"><form class="pure-form"><fieldset><button class="pure-button button-orange" type="button" onclick="toggleCV()">CV</button></fieldset></form></div>
		<div class="pure-u-1-4"><form class="pure-form" id="cvForm1" style="display: none;"><fieldset><input id="cv_id" type="number" class="pure-input-1" placeholder="CV" /></fieldset></form></div>
		<div class="pure-u-1-4"><form class="pure-form" id="cvForm2" style="display: none;"><fieldset><input id="cv_value" type="number" class="pure-input-1" placeholder="Value" /></fieldset></form></div>
		<div class="pure-u-1-4"><form class="pure-form" id="cvForm3" style="display: none;"><fieldset><button id="cv_set" type="button" class="pure-button button-green" onclick="(function() { jQuery.post('/cv?loco={{ loco_id }}&cv='+document.getElementById('cv_id').value+'&value='+document.getElementById('cv_value').value); })();">Set</button></fieldset></form></div>
		{% endif %}
            </div>
        </div>
    </div>
</div>




<script src="/static/pure-layout/ui.js"></script>
<script src="/static/custom.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery.knob.js"></script>
<script>
	this.lastSentDialValue = 0;
	this.currentDialValue = 0;
	this.max_speed = {{ max_speed }};
	var noSleep = new NoSleep();

	function toggleCV() {
		var a = ["cvForm1", "cvForm2", "cvForm3"];
		for (var i=0; i<a.length; i++) {
			var form = document.getElementById(a[i]);
			if (form.style.display === "none") {
				form.style.display = "block";
			} else {
				form.style.display = "none";
			}
		}
	}

	function sendDialValue() {
		if (this.currentDialValue != this.lastSentDialValue) {
			jQuery.post('/slider?loco={{ loco_id }}&value='+this.currentDialValue);
			this.lastSentDialValue = this.currentDialValue;
		}
	}

	function setDialValue(value) {
		this.currentDialValue = value;
	}

	function updateButtons(jsondata) {
		//console.log('got this data: '+jsondata);
		var json = JSON.parse(jsondata);
		for (var i = 0; i < json.functions.length; i++) {
			var f_id = json.functions[i].f_id;
			var f_state = json.functions[i].f_state;
			if (f_state == 'True')
				document.getElementById("function-"+f_id).className = "pure-button button-on";
			else if (f_state == 'False')
				document.getElementById("function-"+f_id).className = "pure-button button-off";
			//console.log("element: "+f_id+"/"+f_state);
		}
		if (json.forward == 'True') {
			document.getElementById("forward").className = "pure-button button-direction-on";
			document.getElementById("backward").className = "pure-button button-direction-off";
		} else if (json.forward == 'False') {
			document.getElementById("forward").className = "pure-button button-direction-off";
			document.getElementById("backward").className = "pure-button button-direction-on";
		}
		document.getElementById('throttleDial').value = json.speed;
		$('input.dial').trigger('change');
	}

	

	function ajaxupdate() {
		noSleep.enable();
		jQuery.post('/q?loco={{ loco_id }}', function(data) {
			updateButtons(data);
		});
	}

	window.onload = ajaxupdate;
	
	window.setInterval(sendDialValue, 100);
	window.setInterval(ajaxupdate, 1000);
	
	$(".dial").knob({
		'min':0,
		'max':this.max_speed,
		'width':"90%",
		'width':255,
		'fgColor':"#66CC66",
		'angleOffset':-125,
		'angleArc':250,
		'rotation':"clockwise",
		'change': function(v) { setDialValue(Math.round(v)); }
	});
        //Opening links in the same window for iphone
        //––––––––––––––––––––––––––––––––––––––––––––––––––
        (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")
</script>

</body>
</html>
